*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Fira Sans", sans-serif;
    color: white;
}

/*---HEADER + NAV---*/
header{
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-areas: "logo nav";
    padding: 12px;
    background-color: #171717;
}
.logo{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: logo;
    height: 64px;
    margin-left: 20px;
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: bold;
    grid-area: nav;
}
nav a{
    text-decoration: none;
    color: #dfdee0;
    margin-right: 20px;
    font-weight: 400;
    font-style: normal;
}
nav a:hover{
    color: #bc36de;
    transition: .3s ease;
}
nav a:not(hover){
    transition: .3s ease;
}

/*---MAIN---*/
main{
    padding: 40px 120px 40px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    width: auto;
    height: 100vh;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 5rem;
    font-weight: 800;
    font-style: normal;
    z-index: 1;
}
#h1-gradiente{
    background: linear-gradient(to right, #de3636, #363ede);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#contenedor-creditos{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 25px auto 10px;
}
#creditos{
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}
#links{
    display: flex;
}
#links a{
    margin: 10px;
}
#links a img{
    height: 36px;
}
#links a img:hover{
    transform: scale(1.2);
    transition: .3s ease;
}
#links a img:not(hover){
    transition: .3s ease;
}
#btn-consulta{
    margin: 30px;
    border-radius: 30px;
    background: linear-gradient(to right, #de3636, #363ede);
    box-shadow: 0px 0px 8px #de3636;
    z-index: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 1.20rem;
    text-decoration: none;
    color: white;
    padding: 15px;
}
#btn-consulta:hover{
    transition: .3s ease;
    transform: scale(1.05);
    border-radius: 26px;
    box-shadow: 0px 0px 12px #bc36de;
}
#btn-consulta:not(hover){
    transition: .3s ease;
}

/*---FORM-SECTION---*/

#form-section{
    width: 800px;
    margin: 0px auto 60px;
    padding: 20px;
    border: 1px solid rgba(212, 212, 212, .2);
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 100px rgba(212, 212, 212, .5);
}
  
.form{
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #171717;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: "Fira Sans", sans-serif;  
}
input[type="text"]::placeholder,
input[type="email"]::placeholder{
    color: rgba(212, 212, 212, .8);
    opacity: 1;
}
textarea{
    height: 100px;
    resize: none;
}
  
#btn-enviar{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#btn-enviar:hover {
    transition: .2s ease;
    background-color: #0056b3;
}
#btn-enviar:not(hover){
    transition: .2s ease;
}
  

/*---FOOTER---*/
footer{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 5, 5);
    padding: 20px;
}

footer p{
    font-weight: 300;
    font-style: normal;
}

/*---BLOB---*/
.blob1{
    position: absolute;
    width: 400px;
    height: 600px;
    background: linear-gradient(
        180deg,
        #de3636,
        #363ede 
    );
    mix-blend-mode: color-dodge;
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    filter: blur(80px);
    -webkit-filter: blur(80px);
    pointer-events: none; /*IMPORTANTE*/
    top: 100px;
    left: -70px;
    z-index: 9;
}

.blob2 {
    position: absolute;
    width: 400px;
    height: 600px;
    background: linear-gradient(
        180deg,
        #de3636,
        #363ede 
    );
    mix-blend-mode: color-dodge;
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    filter: blur(80px);
    -webkit-filter: blur(80px);
    pointer-events: none; /*IMPORTANTE*/
    top: 90px; 
    right: 0; 
    z-index: 10;
}
  
@-webkit-keyframes spin {
    from {
      transform: rotate(0deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: rotate(360deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg); 
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: rotate(360deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@media (375px <= width <= 768px) {

    .blob2{
        display: none;
    }
    .blob1{
        top: 100;
        left: 20%;
        height: 500px;
    }
    #landing-section{
        margin: 50px 0 100px;
        height: auto;
    }
    h1{
        font-size: 2.5rem;
    }
    #creditos{
        font-size: 1rem;
    }
    #links a img{
        height: 32px;
    }
    #btn-consulta{
        font-size: 1rem;
        padding: 10px;
    }
    #form-section{
        width: auto;
        margin: 0;
        z-index: 10;
    }
    input[type="text"],
    input[type="email"],
    textarea{
        display: inline;
        width: 300px;
        font-size: 12px;
    }
    textarea{
        height: 200px;
    } 
}
